/* Filter */

.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1%;
      
  }
  
  .filter-icon {
    margin: 3px 10px;
  }
  
  .filter-alphabets {
    width: 97%;
    justify-content: space-between;
  }
  
  .filter-alphabets-div {
  
    padding: 1% 1%;
    background-color: rgb(234, 235, 238);
    border-radius: 5px;
    opacity: 50%;
    font-weight: 500;
    border: none;
    width: 35px;
    display: flex;
    justify-content: center;
  }
  
  .filter-alphabets-div:hover {
    cursor: pointer;
    background-color: #f44848;
    opacity: 100%;
    color: white;
  }
  
  .filter-alphabets-div.active{
    background-color: red;
    opacity: 100%;
    color: white;
  }
  