
  <!-- Employees Header -->
  <div class="page-header">
    <div class="page-header-content">
      <div class="page-header-content-title">Employees</div>
      <div class="page-header-content-desc">
        Find all your company's employee accounts and their assoiciated roles.
      </div>
    </div>
    <button class="page-header-btn-export" (click)="exportToCSV()">
      <img src="assets/interface/export.svg" alt="export" />
      <p>EXPORT</p>
    </button>
    <button routerLink="/addEmployee" class="page-header-btn-add-employee" onclick="handleAddEmployee()">
      <img src="assets/interface/add.svg" alt="" />
      <p>ADD EMPLOYEE</p>
    </button>
  </div>

