/* Filter Options */
.filter-options {
  border: 2px solid #ffc4c4;
  margin: 0% 0%;
  background-color: #fff4f4;
  border-radius: 10px;
  justify-content: space-between;
  height: 3.1rem;
  padding: 2.5%;
}

.filter-columns {
  width: 60%;
  gap: 0.8rem;
}

.filter-options-title {
  font-size: 0.9rem;
  opacity: 90%;
  color: #f44848;
  font-weight: 500;
}

.placeholder {
  position: relative;
}

.filter-options-btn {
  width: 134px;
  opacity: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  font-weight: 500;
  color: #4c5c72;
  padding: 8px 14px;
  border: 1px solid red;
  border-radius: 5px;
  transition: 0.3s ease;
}

.filter-options-btn i.active {
  transform: rotate(180deg);
}

.filter-options-btn:hover {
  cursor: pointer;
}

.dropdown {
  z-index: 3;
  font-size: 0.8rem;
  position: absolute;
  max-height: 0;
  overflow: hidden;

}

.dropdown.active {
  max-height: 500px;
  overflow: hidden;
  
}

.drop-down-menu {
  width: 134px;
  padding: 1%;
  opacity: 100%;
  background-color: white;
  font-weight: 500;
  color: #4c5c72;
  padding: 8px 14px;
  border: 1px solid red;
  border-radius: 5px;
}

.drop-down-menu:hover {
  background-color: rgb(255, 138, 138);
  color: white;
}

.drop-down-menu.active {
  background-color: red;
  color: white;
}

.filter-options-reset {
  display: none;
  background-color: white;
  color: red;
}

.filter-options-apply {
  display: none;
  margin-left: 1rem;
  background-color: #f44848;
  color: white;
  opacity: 100%;
  border: 1px solid #f44848;
}
