<!-- Add Eployee -->
<div class="add-employee-container">
    <h1>Add Employee</h1>
    <form id="employeeForm" class="employee-form">
      <div class="profile-image-container flex" id="profileImageContainer">
        <div class="default-profile-photo flex">
          <img
            src="assets/user-profile.png"
            alt="Default User Image"
            id="profileImagePreview"
          />
        </div>
        <label for="uploadPicture" class="upload-profile-pic-btn">
          Upload Profile Picture
        </label>
        <input
        class="add-employee-input"
          type="file"
          id="uploadPicture"
          name="profileImage"
          accept="image/*"

          />
      </div>
      <div class="employee-detail-form">
        <div class="employee-form-profile-details">
          <div class="personal-information-container">
            <h2>Personal Information</h2>
            <div class="personal-information">
              <div class="flex">
                <div class="input-field-container">
                  <label for="empNo">Emp No</label>
                  <input
                  class="add-employee-input"
                    type="text"
                    id="empNo"
                    name="empNo"
                    placeholder="Text"
                   
                    value = {{newEmployeeId}}
                    disabled = true
                  />
                  <span class="error-message"></span>
                </div>
              </div>

              <div class="flex">
                <div class="input-field-container">
                  <label for="firstName">First Name</label>
                  <input
                    
                  class="add-employee-input"
                    type="text"
                    id="firstName"
                    name="firstName"
                    placeholder="Text"
                    />
                    <span class="error-message"></span>
                  </div>
                  <div class="input-field-container">
                    <label for="lastName">Last Name</label>
                    <input
                    
                    class="add-employee-input"
                    type="text"
                    id="lastName"
                    name="lastName"
                    placeholder="Text"
                    
                    />
                    <span class="error-message"></span>
                  </div>
                <div class="input-field-container">
                  <label for="dob">Date of Birth</label>
                  <input
                  class="add-employee-input"
                  placeholder="Select"
                  type="date"
                  id="dob"
                  name="dob"
                  class="date-input"
                  />
                </div>
              </div>
              <div class="flex">
                <div class="input-field-container">
                  <label for="email">Email Id</label>
                  <input
                  
                  class="add-employee-input"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Joe.j@Technover.com"
                  
                  />
                  <span class="error-message"></span>
                </div>
                <div class="input-field-container">
                  <label for="mobNumber">Mobile Number</label>
                  <input
                  class="add-employee-input"
                    type="text"
                    id="mobNumber"
                    name="mobNumber"
                    placeholder="0000000000"
                    title="pls input only numbers"
                  />
                  <span class="error-message"></span>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="employment-information-container">
            <h2>Employment Information</h2>
            <div class="employment-information">
              <div class="flex">
                <div class="input-field-container">
                  <label for="joinDate"> Joining Date</label>
                  <input
                    
                  class="add-employee-input"
                    type="date"
                    id="joinDate"
                    name="joinDate"
                  />
                  <span class="error-message"></span>
                </div>
                <div class="input-field-container">
                  <label for="department">Department</label>
                  <select class="add-employee-select-inputs" id="department" name="department">
                    <option value="search" hidden>Search</option>
                    
                  </select>
                  <span class="error-message"></span>
                </div>
                
              </div>
              <div class="flex">
                <div class="input-field-container">
                  <label for="roleName">Job Title</label>
                  <select class="add-employee-select-inputs" id="roleName" name="roleName">
                    <option value="search" hidden>Search</option>
                    
                  </select>
                  <span class="error-message"></span>
                </div>

                <div class="input-field-container">
                  <label for="location">Location</label>
                  <select class="add-employee-select-inputs" id="location" name="location">
                    <option value="" hidden>Search</option>
                  </select>
                  <span class="error-message"></span>
                </div>
                
              </div>

              <div class="flex">
                <div class="input-field-container">
                  <label for="managerName">Assign Manager</label>
                  <select class="add-employee-select-inputs" id="managerName" name="managerName">
                    <option value="" hidden>Search</option>
                    <option value="Manager1">Manager 1</option>
                    <option value="Manager2">
                      Manager 2
                    </option>
                    <option value="Manager3">
                      Manager 3
                    </option>
                    <option value="Manager4">
                      Manager 4
                    </option>
                  </select>
                  <span class="error-message"></span>
                </div>
                <div class="input-field-container">
                  <label for="projectName">Assign Project</label>
                  <select class="add-employee-select-inputs" id="projectName" name="projectName">
                    <option value="" hidden>Search</option>
                    <option value="Project1">Project 1</option>
                    <option value="Project2">
                      Project2
                    </option>
                    
                  </select>
                  <span class="error-message"></span>
                </div>
              </div>
            </div>
            <div class="form-buttons">
              <button type="cancel" onclick="cancelAddEmployee()">Cancel</button>
              <button id="submit-button" type="submit">
                Add Employee
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>